*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
  
a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
}

ul, ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

input, button, textarea, select {
	font: inherit;
}